<h1>Admin</h1>
<a href="/#/chat">Back to chat</a>

<div ng-hide="loggedIn">
    <form ng-submit="logIn()">
        <input type="text" placeholder="login" ng-model="login">
        <br />
        <input type="password" placeholder="password" ng-model="password">
        <br />
        <button type="submit">Log in</button>
    </form>
</div>
<div ng-show="editing">
    <form ng-submit="update()">
        <input type="hidden" ng-model="editedId">
        <br>
        <input type="text" ng-model="editedAuthor">
        <br>
        <input type="text" ng-model="editedText">
        <button type="submit">Update</button>
    </form>
</div>
<div ng-show="loggedIn">
    <h1>Admin content</h1>
    <h2>Messages</h2>
    <div class="admin-list"><table>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Message</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr ng-repeat="message in messages">
            <td>{{message.id}}</td>
            <td>{{message.author}}</td>
            <td>{{message.text}}</td>
            <td><button ng-click="delete($index)">Delete</button></td>
            <td><button ng-click="edit($index)">Edit</button></td>
        </tr>
    </table></div>
    <button ng-click="logOut()">Log out</button>
</div>