<h1 class="header">Chat</h1>
<div ng-hide="loggedIn">
    <label>Enter your name</label>
    <br />
    <input ng-model="login" placeholder="login" type="text">
    <br />
    <input ng-model="password" type="password" placeholder="password">
    <button ng-click="logIn()">Submit</button>
</div>
<div ng-show="loggedIn">

    <p class="nameLabel">Welcome, {{name}}</p>
    <a href="/#/changepassword">Change password</a>
    <br>
    <button ng-click="logOut()">Log out</button>
    <div id="parentMessages">
        <div id="messages">
            <div class="messageWrapper {{determinePosition($index)}}" ng-repeat="message in messages">
                <h3 class="authorHeader">{{message.author}}</h3>
                <p class="contentParagraph">{{message.text}}</p>
            </div>
        </div>
    </div>
    <input type="text" name="messageText" id="messageTextBox" title="messageText" ng-model="messageText" ng-keydown="keyHit($event, 'messageTextBox')">
    <br />
    <button ng-click="sendMessage()" id="sendButton">Send Message</button>
</div>

