<h1>Change password</h1>
<div ng-hide="authenticated">
    <form ng-submit="authenticate()">
        <input type="text" placeholder="login" ng-model="login">
        <br>
        <input type="password" placeholder="password" ng-model="password">
        <br>
        <button type="submit">Log in</button>
    </form>
</div>
<div ng-hide="passwordChanged || !authenticated">
    <form ng-submit="changePassword()">
        <input type="password" ng-model="newPassword">
        <br>
        <input type="password" ng-model="newPasswordConfirmation">
        <br>
        <input type="submit">
    </form>
</div>
<div ng-show="passwordChanged">
    <h1>Your password has been updated</h1>
    <a href="/#/">Return to chat</a>
</div>