.author {
    font-size: 110%;
    font-weight: bold;
}

.content {
    padding-left: 10px;
}


button {

    background-color: rgb(230, 225, 255);
    border: 1px solid #ADA9BF;
    border-radius: 10px;
    font-size: 80%;
    color: #3A3840;

}

input {
    background-color: #E6E1FF;
    border: 1px solid #ADA9BF;
    border-radius: 10px;
    font-size: 90%;
    margin-bottom: 10px;
    color: rgb(115, 113, 127);
    padding: 3px 10px;
}

h1 {
    font-size: 300%;
    text-align: center;
    font-family: sans-serif;
    color: #ada1e5;

}

body {
    width: 30%;
    margin: auto;
    background-color: #f7f7f7;;
}

.authorHeader {
    padding: 2px 0px 2px 0px;
    font-size: 10pt;
    margin: 0px;
    color: #a5a3cc;
}

.contentParagraph {
    padding: 0px 0px 2px 10px;
    font-size: 12pt;
    margin: 0px;
}

.messageWrapper {
    font-family: sans-serif;
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0px;
    color: #5c5c99;
}

/*#messages {*/
    /*border-bottom: 1px solid #ccc7ed;*/
    /*border-top: 1px solid #ccc7ed;*/
    /*padding-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*padding-top: 5px;*/
    /*height: 60%;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    /*padding-right: 15px;*/
/*}*/

/*#parentMessages {*/
    /*overflow: hidden;*/
    /*height: 60%;*/
    /*position: relative;*/
/*}*/

#parentMessages{

    height: 700px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc7ed;
    border-top: 1px solid #ccc7ed;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;

}

#messages{

    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px; /* Increase this value for cross-browser compatibility */
}




input {
    margin: 5px 0px;
}

button {
    margin: 5px 0px 5px 0px;
}

.odd {
    background-color: #e5e0ff;
}

.even {
    background-color: #f0edff;
}

.nameLabel {
    margin: 0px;
    font-family: sans-serif;
    color: #8b82b3;
}